/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* End of CSS Reset */

/* Custom CSS */
/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap" );

/* ### Primary Colors */
:root {
  /* Primary colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral Colors */
  --Very_Dark_Blue: hsl(234, 12%, 34%);
  --Grayish_Blue: hsl(229, 6%, 66%);
  --Very_Light_Gray: hsl(0, 0%, 98%);
  /* Font Family */
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}





main {
  width: 90%;
  margin:auto;
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  margin: 5rem 0;
  max-width: 45rem;
}

header .slogan {
  font-weight: 200;
  font-size: 2rem;
}

header .title {
  margin-bottom: 1rem;
  color: hsl(234, 12%, 34%);
}

header .about-statement p {
  font-size: 1.2rem;
  font-weight: 200;
  color: hsl(229, 6%, 66%);
  text-align: center;
}

/* attribution Div */
.attribution {
  font-size: 11px;
  text-align: center;
  /* This class is used for the attribution text at the bottom of the page */
}
.attribution a {
  color: hsl(228, 45%, 44%);
  /* Setting the color of the link in the attribution */
}

/* cards section  */

#cards{
  margin: 3rem 0;
  display: block;
}

/* general styling for all cards  */
.card{
  position: relative;
  margin: 2rem 0;
  padding: 2rem;
  box-shadow: 0 .5rem 2rem rgba(80, 68, 68, 0.541);
  border-radius: 1rem;
  height: 22rem;
}

#cards .card h1{
  font-size: 1.8rem;
  color: var(--Very_Dark_Blue);
  padding: 1rem 0;

}

#cards .card p{
  font-size: 1.3rem;
  color: var(--Grayish_Blue);
  padding: 1rem 0;
}

#cards .card .card-svg{
  position: absolute;
  width: 5rem;
  right: 2rem;
  bottom: 3rem;
}

#cards .card .card-svg img{
  width: inherit;
}

#cards .supervisor{
    border-top: .5rem solid var(--cyan);
}

#cards .team-builder{
    border-top: .5rem solid var(--red);
}

#cards .karma{
    border-top: .5rem solid var(--orange);
}

#cards .calculator{
    border-top: .5rem solid var(--blue);
}